.col-md-6.col-md-offset-3.form
  .title Edit #{resource_name.to_s.humanize}
  %hr
  = simple_form_for(resource,
                    as: resource_name,
                    url: registration_path(resource_name),
                    html: { method: :put, class: 'form-horizontal col-md-12' },
                    wrapper: :horizontal_form)  do |f|
    / = devise_error_messages!
    = f.input :email, autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :first_name
    = f.input :last_name
    = f.input :password, autocomplete: 'off', hint: "(leave blank if you don't want to change it)"
    = f.input :password_confirmation, autocomplete: 'off'

    .col-sm-12
      %hr
    = f.input :current_password, autocomplete: 'off', hint: '(we need your current password to confirm your changes)'
    .col-sm-12
      %hr
    .form-group
      .col-sm-offset-3
        .col-sm-3
          = f.button :submit, 'Update'
        .col-sm-3
          = button_to 'Back', :back, class: 'btn btn-default'
