.col-md-6.col-md-offset-3.form
  = simple_form_for(resource,
                    as: resource_name,
                    url: registration_path(resource_name),
                    html: { class: 'form-horizontal'},
                    wrapper: :horizontal_form) do |f|
    / = devise_error_messages!
    .form-section.row
      .col-md-12
        .title Sign up
    .form-section.row
      .col-md-12
        = f.input :first_name
        = f.input :last_name
        = f.input :email, autofocus: true
        - if @validatable
          %em
            (#{@minimum_password_length} characters minimum)
        = f.input :password, autocomplete: 'off'
        = f.input :password_confirmation, autocomplete: 'off'
    .form-section.row
      .col-md-12
        .form-group.buttons
          .col-sm-9.col-sm-offset-3
            .btn-group
              = f.button :submit, 'sign up', class: 'btn-success'
              = render 'shared/components/button_back'
        .form-group.shared-links
          .col-sm-9.col-sm-offset-3= render 'devise/shared/links'
