=link_to post_path(post) do
  .post
    .row
      .col-md-2
        .post-photo
          - if post.photo?
            = image_tag post.photo.preview
          -else
            .post-no-photo
              %span
                %i.fa.fa-times.fa-2x
                %p no photo
      .col-md-10
        .post-header.h4
          .row
            .col-md-2
              = link_to user_path(post.owner) do
                .user-avatar
                  = image_tag post.owner.avatar.thumb
            .col-md-10
              = link_to user_path(post.owner) do
                %strong= post.owner.email
              says:
        .post-title.h4
          .row
            .col-md-12
              %strong= post.title
        .post-body.h4
          .row
            .col-md-12
              = post.body
    .post-footer.row
      .col-md-7.col-md-offset-2
        %i.fa.fa-comments
        Comments:
        %strong= post.comments.count
      .col-md-3
        .pull-right
          Published at:
          %strong= format_time(post.created_at)

