.post.text-box
  .title
    .row
      .col-md-3
        .h4
          %strong Title:
          = post.title
      .col-md-4
        .h4
          %strong Author:
          = link_to post.owner.email, user_path(post.owner)
    %hr
  .body= post.body
  .post-comments
    .post-comments-header
      .row
        .col-md-3.h4
          %i.fa.fa-comments.fa-lg
          %strong Comments:
        .col-md-2.col-md-offset-7.h4
          = link_to new_post_comment_path(post) do
            %i.fa.fa-plus
            %strong Add comment
    .post-comments-content
      = render post.comments


