!!!
%html
  %head
    %title Sylwanit
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  - if user_signed_in?
    %body{style: "background-image: url('#{image_url(current_user.background_url)}')"}
      = render 'layouts/navbar'
      .container.content
        .col-md-12
          = yield
  - else
    %body
      = render 'layouts/navbar'
      .container.content
        .col-md-12
          = yield
